/* colors to use
#353535 - dark grey
#f1faee - light blue
#D9D9D9  -grey
#1EA896 - green
#284B63 - regular blue
*/

/* Reset */
*, *:before, *:after {
    margin: 0;
    padding:0;
  }
  html {
    scroll-behavior: smooth;
  }
/* main styling */

body{
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    background-color: #D9D9D9;
    font-family: 'Figtree', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* header and nav */
head{
    position: absolute; 
    width: 100%;
    top:0;
}
.head-container{
    top: 0;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 400;
    background: #f1faee;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
    overflow-x:hidden;
    overflow-y: hidden;
}
h1{
    font-size: 3rem;
    text-transform: uppercase;
}
h1 span{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:#750D37;
    padding-bottom: 100px;
}
p{
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: #f1faee;
}
img{
    width: 13rem;
    min-width: 13rem;
    max-width: 100%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    list-style-type: none;
}
.nav-ul li a{
    display: inline-block;
    color: #284B63;
    padding: 10px 20px;
    text-decoration: none;
}
.hamburger{
    background-color: transparent;
    border: 0;
    display: none;
    color: #284B63;
    cursor: pointer;
    font-size: 20px;
}
.hamburger:focus{
    outline: none;
}

/* mobile */
@media screen and (max-width: 767px) {
    .head-container{
        padding: 10px;
        margin: 0 auto;
        max-width: 100%;
        width: 1200px;
    }
    .nav-ul{
        display: none;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .nav-ul.show{
        display: flex;
    }
    .hamburger{
        display: block;
        padding-right: 30px;
    }
    .btn{
        width: 100%;
    }
    .nav-ul li a{
        padding: 10px;
    }
    header{ 
        padding-bottom: 0;
    }
}


/* main section styling */
main{
    margin-top: 160px;
}

.ct-socials{
    font-size: 2rem;
    list-style-type: none; 
    position: fixed;
    margin-left: 10px;
    grid-column: 1 / 6;
    grid-row: 1;
    top: 30%;
    transform: translateY(-50%);
    z-index:9999999;
}
.ct-socials i{
    font-size: 1.7rem;

}
.fa{
    color:#284B63;
    margin-bottom: 1rem;

}
.fa-brands{
    color: #284B63;
    margin-bottom: 1rem;

}
.fa-solid {
    color: #284B63;
    margin-bottom: 1rem;
}
/* main mobile */
@media screen and (max-width: 767px) {
    .ct-socials{
        display: inline;
        display: none;
    }
}

/* divider */


.divide-conquer{
    text-align: center;
    font-size: 2rem;
    justify-content: space-between;
    color:#284B63;
    font-weight: 600;
    margin: 40px 0;
}
.divide-conquer i{
    font-size: .5rem;
}
.divider-line {
    border-bottom: #284B63 1px solid;
    width: 6rem;
    margin: 4px;
    display: inline-block;
}




/* Hero Section */


.hero-container {
    color: #284B63;
    width: 100%;
    height: 600px;
    position: relative;
    grid-column: 1 / 6;
  }
.hero{
    text-align: center;
}
.hero img{
    margin-bottom: 20px;
}
.hero h1{
    margin: 0;
}
.hero h2{
    color:#750D37;
    font-size: 2rem;
}
.hero p{
    margin: 30px 0;
    font-size: 1.2rem;
}
.hero p span{
    color:#750D37;
    font-size: 1.2rem;
}
.ab-button{
    margin: 20px 0;
    text-decoration: none;
    background-color: #1EA896;
    color: #f1faee;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}

@media screen and (max-width: 500px) {

    .hero-container {
        color: #284B63;
        width: 450px;
        height: auto;
        position: relative;
        display: flex;
      }
    .hero{
        text-align: center;
        margin-top: 50;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .hero img{
        width: 10%;
        height: auto;
        margin-bottom: 40px;
    }
    .hero h2{
        color:#750D37;
        font-size: 1.5rem;
    }
    .hero p{
        font-size: 1rem;
        margin: 40px 0;
    }
    .hero p span{
        color:#750D37;
        font-size: 1rem;
    }
    .ab-button{
        margin-top: 40px;
        text-decoration: none;
        background-color: #1EA896;
        color: #f1faee;
        font-weight: 500;
        text-transform: uppercase;
        padding: 15px 40px;
        font-size: 1.2rem;
        border-radius: 5px;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    }
    

}
/* Projects section */

.project-header{
    text-align: center;
    font-size: 2rem;
    justify-content: space-between;
    color:#284B63;
    font-weight: 600;
    margin-bottom: 40px;
}

.project-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
    width: min(95%, 70rem);
    margin-inline: auto;
    margin-bottom: 2rem;
}
.project-grid-2{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
    width: min(95%, 70rem);
    margin-inline: auto;

}
.card-1{
    display: inline;
    background-color: #E5FCF5;
    font-size: var(--fs-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
.card-1 img{ 
    width: 100%;
}
.card-1 h3, p{
    margin: 20px 0;
}
.card-1 a{
    display: inline;
}
.card-2{
    line-height: 1.5rem;
    background-color: #f1faee;
    font-size: var(--fs-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
.card-2 img{ 
    width: 100%;
}
.card-2 h3, p{
    margin: 20px 0;
}
.card-3{
    background-color: #f1faee;
    font-size: var(--fs-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
.card-3 img{ 
    width: 100%;
}
.card-3 h3, p{
    margin: 20px 0;
}
.card-4{
    background-color: #E5FCF5;
    font-size: var(--fs-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
.card-4 img{ 
    width: 100%;
}
.card-4 h3, p{
    margin: 20px 0;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin: 10px 0;
}
.card-4 img{ 
    width: 100%;
}
.live{
    text-align: center;
    background-color: #1EA896;
    color: #f1faee;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 45px;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
i{
    font-size: 2.2rem;
    color: #284B63;
    padding: 0 10px;
}
.langs{
    justify-content: space-between;
    margin: 20px 0;
}
.langs h4{
    font-weight: 500;
    margin-bottom: 20px;
}
.code{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}
.code i{
    color:#1EA896;
    padding-left: 30px;

}

/* Projects Mobile */

@media screen and (max-width: 500px) {
    .project-header{
        text-align: center;
        font-size: 1.5rem;
        justify-content: space-between;
        color:#284B63;
        font-weight: 600;
        margin-bottom: 40px;
    }
    
    .project-grid{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        width: min(95%, 70rem);
        margin-inline: auto;
        margin-bottom: 2rem;
    }
    .project-grid-2{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        width: min(95%, 70rem);
        margin-inline: auto;
    
    }
    .card-1{
        display: inline;
        background-color: #E5FCF5;
        font-size: var(--fs-400);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    }
    .card-1 img{ 
        width: 100%;
    }
    .card-1 h3, p{
        margin: 20px 0;
    }
    .card-1 a{
        display: inline;
    }
    .card-2{
        line-height: 1.5rem;
        background-color: #f1faee;
        font-size: var(--fs-400);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    }
    .card-2 img{ 
        width: 100%;
    }
    .card-2 h3, p{
        margin: 20px 0;
    }
    .card-3{
        background-color: #f1faee;
        font-size: var(--fs-400);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    }
    .card-3 img{ 
        width: 100%;
    }
    .card-3 h3, p{
        margin: 20px 0;
    }
    .card-4{
        background-color: #E5FCF5;
        font-size: var(--fs-400);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    }
    .card-4 img{ 
        width: 100%;
    }
    .card-4 h3, p{
        margin: 20px 0;
    }
    .buttons{
        display: flex;
        justify-content: space-evenly;
        width: 200px;
        margin: 10px 0;
    }
    .card-4 img{ 
        width: 100%;
    }
    .live{
        text-align: center;
        background-color: #1EA896;
        color: #f1faee;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px 45px;
        font-size: 1.2rem;
        border-radius: 5px;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    }
    i{
        font-size: 2.2rem;
        color: #284B63;
        padding: 0 10px;
    }
    .langs{
        justify-content: space-between;
        margin: 20px 0;
    }
    .langs h4{
        font-weight: 500;
        margin-bottom: 20px;
    }
    .code{
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .code i{
        color:#1EA896;
        padding-left: 30px;
    
    }
}


/* Skills Section */

.skill-header{
    text-align: center;
    font-size: 2rem;
    justify-content: space-between;
    color:#284B63;
    font-weight: 600;
    margin-bottom: 40px;
}
.skills-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    width: 550px;
    margin-inline: auto;
    margin-bottom: 2rem;
}
.skill-card-1{
    display: inline;
    background-color: #FEFFFE;
    font-size: var(--fs-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
.card-1 img{ 
    width: 100%;
}
.card-1 a{
    display: inline;
}
.programs{
    justify-content: space-between;
    margin: 20px 0;
}
.programs h4{
    font-weight: 500;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .skill-header{
        text-align: center;
        font-size: 2rem;
        justify-content: space-between;
        color:#284B63;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .skills-grid{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        width: min(95%, 70rem);
        margin-inline: auto;
        margin-bottom: 2rem;
    }
    .skill-card-1{
        display: inline;
        background-color: #FEFFFE;
        font-size: var(--fs-400);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    }
    .card-1 img{ 
        width: 100%;
    }
    .card-1 a{
        display: inline;
    }
    .programs{
        justify-content: space-between;
        margin: 20px 0;
    }
    .programs h4{
        font-weight: 500;
        margin-bottom: 20px;
    }
}


/* About Section */

.about-container {
    display: grid;
    color: #284B63;
    width: 100%;
    height: 600px;
    position: relative;
    grid-column: 1 / 6;
  }
.about-header{
    text-align: center;
    font-size: 2rem;
    justify-content: space-between;
    color:#284B63;
    font-weight: 600;
    margin-bottom: 40px;
}
.about-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    width: 600px;
    margin-inline: auto;
    margin-bottom: 2rem;
    text-align: center;
}
.image{
    object-fit: cover;
    width: 100px;
    height: auto;
    border-radius: 15px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    transition: all 6s ease;
    pointer-events: none;
    transform: scale(1);
}
.header-container h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
  }
  .pic:hover .image{transform: scale(1.5);}



  /* Mobile Skills */
  @media screen and (max-width: 500px) {
    .about-container {
        display: flex;
        color: #284B63;
        width: 400;
        height: auto;
        position: relative;
      }
    .about-header{
        text-align: center;
        font-size: 2rem;
        justify-content: space-between;
        color:#284B63;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .about-grid{
        display: block;
        width: 400px;
        margin-inline: auto;
        margin-bottom: 2rem;
        text-align: center;
    }
    .image{
        object-fit: cover;
        width: 100px;
        height: auto;
        border-radius: 15px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        transition: all 6s ease;
        pointer-events: none;
        transform: scale(1);
    }
    .header-container h3 {
        font-size: 1.5rem;
        margin-top: 4rem;
        text-align: center;
      }
      .pic:hover .image{transform: scale(1.5);}
  }
  
/* Contact area */

#title-Tag-Line {
    font-size: 20px;
  }

  .wrapper{
    position: relative;
  }
  .form {
    border-radius: 15px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: relative;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    margin: 10px auto 5px;
    width: 300px;
    color: #284B63;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }

  .name {
    background-color: #f1faee;
    color: #284B63;
    height: 2em;

  }
  
  .email {
    background-color: #f1faee;
    height: 2em;
    color: #284B63;

  }
  
  .message {
    background-color: #f1faee;
    overflow: hidden;
    height: 10rem;
    color: #284B63;
  }
  
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-family: 'Figtree', sans-serif;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #1EA896;
    font-size: 20px;
    border-radius: 15px;
  }






 /*footer area  */

footer{
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color:#E5FCF5;
    color: #284B63;
	width: 100%;
	clear: both;
	position: relative;
	bottom: 0;
    display: flex;
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ft-social{
    text-decoration: none;
    display: inline;
    font-size: 1rem;
    list-style-type: none; 

}
.ft-social i{
    margin-top: 10px;
    display: inline-block;
    font-size: 1.6rem;
}
.back-btn{
    display: block;
    text-align: center;
    color:#284B63;
}
.back-btn i{
    font-size: 8rem;
    background-color: #FEFFFE;
    font-size: var(--fs-400);
    padding: .5rem;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    
}
